<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - MyTemplate</title>
    <link rel="stylesheet" href="../static/about.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://lh3.googleusercontent.com/fife/AAWUweVxxyo6IXDm9eL4Tom8gxAKxSmAtAeERFWHTmKNRk6POqyYNqvlccP1r7vK3a_Sgjp2JKJY_oM18Bp9RJ43ncWs-inAQPLhDBWLIE1rKnZ55TH34C2QfW1E-BMFaGqIPK6Cxxe7N7Qzx88Q7i2PSSEYhnO1as2f-CKwc6JM6f270bibGttMr8MPUECIG_7IjEGkeEZXiUAcG6M1UhJlZp7l2BMo-2z6hf16qzYclu6dubvwZq8B_A_yltKmc8Ggx7fkG2jKP69BOBc68F90u6d-v1nWZgjaHz-eKDcBC2aejyspRjIR-oKxtU89dOfRwB2uZhQXHb9sIC2MH6s2JHnA-V-IDbrL08FIm6nDjrPtNI4tCBcczLAHrezIv31qvXOAQqST9Q_FpUwfzGo8t94HGcsl1Z0-SKO8qSTCz62ElMoKTxMJDesd2MwtxgG7INemDPvj4590kHnH56ndFpcHV1XHZo8st97PGfGR7iDxQnhURXJAZVB0tXrgGbvnGmBB0jbCw666kpqNtRb9uzCSXcyUG3R_Z_BTt4U5iic_OjQl3WbvkDLNXI-QuWrTrVSoptPHAxbAFkyPHT-OGLLXcYV02ANGerEqelKrGZqD3iNTst9rUvRZKA8zMOzLlEt88q-mCOAxhpbk9V-fsuz6uB68JGcKKt_T981RmQ-fgyGLbSxmGRu7-p63_OuVWcdTi7JeBtUjAguCZ-xGOu4ad9MoR8nuUb2iiQ2WVnBpJ8mURnQKoUeOWQsl6SVdELS9SJFE0VGxnm2KkSMj9En2hr_PUdozO-v1bXCQ-CpDvBUBfA=w344-h344?authuser=0"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo__name" style="display: flex">
          <img src="../static/template (1).png" class="logo" />
          <h1 class="HEADER-HEADING">My Template</h1>
        </div>
        <div id="links">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="start.html">Start</a>
            </li>
            <li>
              <a href="/templates">Templates</a>
            </li>
            <li>
              <a href="/recommended">Recommended</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <h1 class="headerHeading1">About Us</h1>
      </div>
    </header>

    <div class="photos">
        <h1 class="headerHeading">Founders Of My Template</h1>
        <div class="founders">
            <div class="aditya">
                <img src="../static/background-g62eabff3a_1920.jpg" class="AdiImg">
                <h1 id="NameInAbout">Aditya Sreekar</h1>
                <p class="AboutP">Aditya Sreekar is one of the founder of the company My Template. <br> He has 2 years of coding experience.</p>
            </div>
            <div class="guhan">
                <img src="../static/background-g62eabff3a_1920.jpg" class="GrahiImg">
                <h1 id="NameInAbout">Guhan Sriram</h1>
                <p class="AboutP">Guhan Sriram is one of the founder of the company My Template. <br> He has 2 years of coding experience </p>
            </div>
        </div>
        <h1 class="headerHeading" style="margin-top: 25px
        ; margin-bottom: 25px;">
            Our Other Team Members
        </h1>
        <div class="other">
            <div class="Rigved">
                <img src="../static/background-g62eabff3a_1920.jpg" class="GrahiImg">
                <h1 id="NameInAbout">Rigved Shivarama Krishnan</h1>
                <p class="AboutP">Rigved Shivarama Krishnan <br> is one of the designers of this website</p>
            </div>
            <div class="Likhith">
                <img src="../static/background-g62eabff3a_1920.jpg" class="GrahiImg">
                <h1 id="NameInAbout">Likhith Reddy</h1>
                <p class="AboutP">Likhith Reddy is the project manager and <br> system designer of this webstie. </p>
            </div>
        </div>
    </div>

    <footer style="margin-top: 205px;">
    <p class="FooterHEAD">Please do not think that the founders and developers of this webstie are small <br> aged and please do not under estimate us. The product will be amazing. <br> We, The team of My Template promise you that you will not get disappointed.</p>
    <div class="logos" style="margin-top: 25px;">
      <div class="facebook">
        <a href="https://www.facebook.com/aditya.sreekar.948/" target="_blank">
          <img src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png" class="facebooklogoFooter">
        </a>
      </div>
      <div class="youtube">
        <a href="https://www.youtube.com/channel/UCSL7KMDQd3qJ4wRF9NoLP9Q" target="_blank">
          <img src="https://mpng.subpng.com/20180514/txe/kisspng-youtube-logo-5afa04958ecbc5.7692802515263346135849.jpg " class="facebooklogoFooter">
        </a>
      </div>
    </div>
    <h1 class="FooterHEAD" style="margin-top: 15px
    ;">A Product By Alien Group.</h1>
  </footer>

  </body>
</html>
