<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - My Template</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://lh3.googleusercontent.com/fife/AAWUweVxxyo6IXDm9eL4Tom8gxAKxSmAtAeERFWHTmKNRk6POqyYNqvlccP1r7vK3a_Sgjp2JKJY_oM18Bp9RJ43ncWs-inAQPLhDBWLIE1rKnZ55TH34C2QfW1E-BMFaGqIPK6Cxxe7N7Qzx88Q7i2PSSEYhnO1as2f-CKwc6JM6f270bibGttMr8MPUECIG_7IjEGkeEZXiUAcG6M1UhJlZp7l2BMo-2z6hf16qzYclu6dubvwZq8B_A_yltKmc8Ggx7fkG2jKP69BOBc68F90u6d-v1nWZgjaHz-eKDcBC2aejyspRjIR-oKxtU89dOfRwB2uZhQXHb9sIC2MHiual6s2JHnA-V-IDbrL08FIm6nDjrPtNI4tCBcczLAHrezIv31qvXOAQqST9Q_FpUwfzGo8t94HGcsl1Z0-SKO8qSTCz62ElMoKTxMJDesd2MwtxgG7INemDPvj4590kHnH56ndFpcHV1XHZo8st97PGfGR7iDxQnhURXJAZVB0tXrgGbvnGmBB0jbCw666kpqNtRb9uzCSXcyUG3R_Z_BTt4U5iic_OjQl3WbvkDLNXI-QuWrTrVSoptPHAxbAFkyPHT-OGLLXcYV02ANGerEqelKrGZqD3iNTst9rUvRZKA8zMOzLlEt88q-mCOAxhpbk9V-fsuz6uB68JGcKKt_T981RmQ-fgyGLbSxmGRu7-p63_OuVWcdTi7JeBtUjAguCZ-xGOu4ad9MoR8nuUb2iiQ2WVnBpJ8mURnQKoUeOWQsl6SVdELS9SJFE0VGxnm2KkSMj9En2hr_PUdozO-v1bXCQ-CpDvBUBfA=w344-h344?authuser=0"
    />
  </head>
  <body>
    <div id="header">
      <nav>
        <div class="logo__name" style="display: flex">
          <img src="../static/template (1).png" class="logo" />
          <h1 class="HEADER-HEADING">My Template</h1>
        </div>
        <div id="links">
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
            <li>
              <a href="/start">Start</a>
            </li>
            <li>
              <a href="/templates">Templates</a>
            </li>
            <li>
              <a href="/recommended">Recommended</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content">
        <div class="text__btn">
          <h1>
            Create whatever you want. <br />
            With My Template.
          </h1>
          <p>
            My Templates offer you the best quality html css templates <br />
            and designs made by professnials for FREE. This is <br />
            Inspired by problems people face while trying to make <br />
            their webstie.
          </p>
          <a href="/start"><button style="cursor: pointer;">Start Now</button></a>
        </div>
        <div class="templates__img">
          <div class="container">
            <div class="header"></div>
            <div class="boxes1">
              <div class="box1"></div>
              <div class="box2"></div>
              <div class="boxextra"></div>
            </div>
            <div class="boxes2">
              <div class="box3"></div>
              <div class="box4"></div>
              <div class="box5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="seciton">
      <div class="whatwewanttodo">
        <h1>What we offer here</h1>
        <div class="whatwewantdiv">
          <div class="freetemplates">
            <h1 id="freetemplate">We Give Every Template For Free.</h1>
            <p>
              In My Template, we give every template for free. We are doing this
              because we are inspired <br />
              from frustrating websites where to download an image, we should
              pay over 1000₹. <br />
              And also some people have an amazing idea to <br />
              create a website but they dont know what design to pick
            </p>
          </div>
          <div class="beautifultemplates" style="margin-bottom: 100px">
            <h1 id="freetemplate">The Templates Are Not Designed By Noobs.</h1>
            <p>
              In My Template, all the templates are designed by professnial
              designers. <br />
              So you wont find the design taken from My Template dull at all.
              You will also find the highest <br />
              quality templates of html and css.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="line">
      <!-- LINE WILL BE CREATED IN THE CSS -->
    </div>

    <h1 style="text-align: center; font-family: 'Poppins'; margin-top: 10px; font-size: 55px; margin-bottom: 25px;">
      To Know More About Us, Please Visit The About Page.
    </h1>
  </body>
</html>
