<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/pagenotfound.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo__name" style="display: flex">
          <img src="../static/template (1).png" class="logo" />
          <h1 class="HEADER-HEADING">My Template</h1>
        </div>
        <div id="links">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/start">Start</a>
            </li>
            <li>
              <a href="/templates">Templates</a>
            </li>
            <li>
              <a href="/recommended">Recommended</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <h1 class="headerHeading1">Page Not Found......</h1>
      </div>
    </header>
    <h1 class="headerHeading">
      Oops... you might have <br />
      entered the wrong link.
    </h1>
    <h1 class="headerHeading10" style="margin-top: 50px">
      This Link Is NOT Found In This Website. <br />
      Please Go Back To The Home Page.
      <a href="/">Home</a>
    </h1>

    <footer style="margin-top: 205px">
      <div class="logos" style="padding-top: 50px">
        <div class="facebook">
          <a
            href="https://www.facebook.com/aditya.sreekar.948/"
            target="_blank"
          >
            <img
              src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png"
              class="facebooklogoFooter"
            />
          </a>
        </div>
        <div class="youtube">
          <a
            href="https://www.youtube.com/channel/UCSL7KMDQd3qJ4wRF9NoLP9Q"
            target="_blank"
          >
            <img
              src="https://mpng.subpng.com/20180514/txe/kisspng-youtube-logo-5afa04958ecbc5.7692802515263346135849.jpg "
              class="facebooklogoFooter"
            />
          </a>
        </div>
      </div>
      <h1 class="FooterHEAD" style="margin-top: 15px">
        A Product By Alien Group.
      </h1>
    </footer>
  </body>
</html>
